html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: #3b3b3d;
  text-align: center;
}
main {
  display: inline-block;
  width: 100%;
}
button,
input[type="submit"],
input[type="reset"] {
  color: inherit;
  border: none;
  font: inherit;
  outline: inherit !important;
  background: none !important;
}
/**Floats**/
.campaign,
.player-info.active,
.new-player,
.add-player,
.side-nav {
  float: left;
}
/**FONTS **/
.loader-background,
.side-nav,
.back-button,
.campaign h3,
.js-create-campaign,
.player-info.active,
.title-wrapper,
.title,
.delete-confirm,
.save-dialogue,
.success-dialogue {
  font-family: Monda;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}
.js-create-campaign,
.player-info.active h4,
.hint {
  font-size: 0.9em;
}
.delete-campaign:hover,
.edit-campaign:hover,
.save-campaign:hover {
  font-size: 1.6em;
}
/***Cursors ***/
button,
.side-btn,
.side-bottom,
.c-title,
.button-nav,
.button-nav input,
.add-player,
.remove-player,
.success-dialogue:hover {
  cursor: pointer;
}
/**SideBar**/
nav h1 {
  font-size: 1.3em;
  margin-top: 20%;
  margin-left: 10%;
  text-align: left;
}
.btn-wrapper {
  margin-top: 25%;
  width: 100%;
  display: block;
}
.sandwich-btn,
.side-btn.mobile {
  display: none;
}
.side-nav {
  background-color: #414045;
  width: 300px;
  height: 1000px;
  display: inline-block;
  font-size: 1.2em;
  color: white;
}
.side-btn,
.side-bottom {
  text-align: center;
  padding: 20px;
  color: #309ce7;
  width: 100%;
}
.side-btn:hover,
.side-bottom:hover {
  background-color: #77777a !important;
}
.side-bottom {
  bottom: 10px;
  color: white;
}
/**Right Side**/
.right-side {
  margin-right: 1.6%;
  margin-left: 300px;
}
.right-side.active,
.campaign-section.active,
.campaigns-wrapper.active,
.campaign.active {
  height: 100%;
}
/***Campaign Blocks ***/
.campaigns-wrapper.active {
  height: 100%;
}
.campaigns-wrapper h1 {
  margin-top: 70px;
}
.campaign-buttons {
  width: 180px;
  z-index: 1;
}
.campaign {
  width: 300px;
  height: 250px;
  background-color: #333335;
  padding: 85px;
  box-shadow: 0px 10px 2px -10px #f09e00;
  border-radius: 20px;
  margin: 75px 20px 20px 20px;
  transition: all 0.4s ease-out;
}
.campaign.active {
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #3b3b3d;
  box-shadow: none;
  border-radius: none;
  position: absolute;
}
.campaign h3,
.campaign label {
  color: white;
}
.campaign h4 {
  color: rgb(104, 104, 108);
}
.c-title.active {
  z-index: 1;
  text-align: left;
}
.c-title:hover {
  color: #309ce7;
}
.delete-campaign:hover {
  color: #fd5b13;
}
.edit-campaign:hover,
.save-campaign:hover {
  color: #309ce7;
}
.title {
  position: absolute;
  left: 412px;
  top: 90px;
  z-index: 1;
}
.back-button {
  position: absolute;
  left: 320px;
  top: 45px;
  z-index: 1;
  color: white;
}
/**Form**/
fieldset input,
#title {
  background-color: rgba(86, 85, 89, 0.2);
  border: none;
  margin-top: 5px;
  width: 250px;
  padding-left: 20px;
  color: white;
}
fieldset {
  border: none;
  color: white;
}
.js-create-fields {
  text-align: left;
}
.js-create-campaign {
  font-size: 0.9em;
  display: inline;
  position: relative;
}
.js-hidden {
  background: rgba(86, 85, 89, 0.2);
  border: none;
}
.title-wrapper {
  margin-bottom: 25px;
  margin-left: 20px;
  margin-top: 63px;
}
.title-wrapper label {
  color: white;
  padding-right: 10px;
}
.player-info {
  display: none;
  transition: all 0.4s ease-out;
}
.player-info.active {
  display: block;
  width: 300px;
  background-color: #333335;
  margin: 5px;
  padding: 20px;
  box-shadow: 0px 10px 2px -10px #f09e00;
  border-radius: 20px;
  animation: tinyblocks 0.6s ease-in-out 0s 1;
  color: #68686c;
  overflow: hidden;
}
.player-info.active p {
  color: white;
  margin: 10px !important;
}
.player-info.active h4 {
  font-size: 0.9em;
  margin: 10px !important;
}
@keyframes tinyblocks {
  0% {
    width: 0px;
    height: 0px;
  }
  10% {
    width: 300px;
  }
  100% {
    width: 300px;
    height: 300px;
  }
}
.player-info label {
  margin: 20%;
}
.player-name,
.player-email,
.player-exp,
.player-loot,
.player-sheet,
.player-session {
  color: white;
}
.new-player {
  width: 300px;
  height: 356.4px;
  background-color: #333335;
  margin: 5px;
  padding: 20px;
  box-shadow: 0px 10px 2px -10px #f09e00;
  border-radius: 20px;
  text-align: center;
  position: relative;
}
.add-player {
  width: 300px;
  height: 356.4px;
  margin: 5px;
  border-radius: 20px;
  border-style: dashed;
  text-align: center;
}
.icon-wrapper {
  width: 300px;
  height: 100px;
  display: inline-block;
  margin: auto;
  padding-top: 125px;
}
.fa-plus-square-o {
  font: normal normal normal 25px/1 FontAwesome !important;
}
.remove-player {
  background: none !important;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  outline: inherit !important;
  position: absolute;
  right: 15px;
  top: 10px;
}
.button-nav {
  font-family: Montserrat !important;
  width: 60px !important;
  height: 30px !important;
  background: #f09e00 !important;
  border-radius: 20px !important;
  position: fixed;
  left: 12.5%;
  top: 10px;
  padding-top: 5px;
}
.button-nav:hover {
  background: #309ce7 !important;
}
.delete-confirm,
.save-dialogue,
.success-dialogue {
  position: fixed;
  top: 40%;
  left: 50%;
  right: 40%;
  width: 300px;
  height: 100px;
  background-color: #333335;
  box-shadow: 0px 10px 2px -10px #309ce7;
  border-radius: 20px;
  border: 1px solid #309ce7;
  color: white;
  font-size: 1em;
  z-index: 2;
}
.success-dialogue:hover {
  background-color: #8a8a91;
}
.hint {
  font-size: 0.9em;
}
.loader {
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}
svg path,
svg rect {
  fill: #ff6700;
}
rect {
  padding: 20px;
}
.loader-background {
  width: 100%;
  height: 100%;
  background-color: #333335;
  position: absolute;
  padding-top: 25%;
  color: white;
}

/*** Media Queries ***/
@media only screen and (min-with: 701px) and (max-width: 975px) {
  .side-nav {
    width: 100%;
    height: 75px;
    margin-bottom: 15px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 2;
  }
  .btn-wrapper {
    margin-top: 0px;
    background-color: white;
    width: 300px;
    right: 0px;
    display: none;
    position: absolute;
  }
  .btn-wrapper.active {
    display: block;
    animation: menudrop 0.6s ease-in-out 0s 1;
    overflow: hidden;
  }
  @keyframes menudrop {
    0% {
      width: 0px;
      height: 0px;
    }
    10% {
      width: 300px;
    }
    100% {
      width: 300px;
      height: 220px;
    }
  }
  .side-bottom {
    display: none;
  }
  .side-btn.mobile {
    text-align: center;
    display: block;
    padding: 20px;
    color: #309ce7;
  }
  .greeting {
    width: 300px;
  }
  .sandwich-btn {
    display: block;
    position: absolute;
    top: 25px;
    right: 0px;
    font-size: 1.6em;
  }
  .right-side {
    margin-top: 12%;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
  }
  .campaign-section {
    display: inline-block;
  }
  .campaign-section.active,
  .campaigns-wrapper.active {
    height: 100%;
    width: 100%;
  }
  .campaigns-wrapper.active {
    margin: 0px;
    padding: 0px;
  }
  .campaign,
  .campaign.active {
    margin: 0px;
    margin-right: 20px;
  }
  .campaign.active {
    padding: 25px;
  }
}
@media (max-width: 700px) {
  .campaign.active {
    padding: 10px;
  }
}
@media (max-width: 649px) {
  .campaign,
  .campaign.active {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 20px;
  }
}
@media (max-width: 619px) {
  .right-side {
    margin-top: 15%;
    margin-left: 145px;
  }
}
@media (max-width: 540px) {
  .right-side {
    margin-top: 20%;
    margin-left: 100px;
  }
}
@media only screen and (min-width: 350px) and (max-width: 480px) {
  .right-side {
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .campaigns-wrapper {
    padding-left: 9%;
  }
  .campaign.active {
    width: 100%;
  }
  .campaign-players.active {
    margin: 5%;
  }
  .js-create-fields {
    padding: 0px;
  }
  .button-nav {
    font-family: Montserrat !important;
    width: 60px !important;
    height: 30px !important;
    background: #f09e00 !important;
    border-radius: 20px !important;
    position: fixed;
    top: 95px;
    left: 20px;
    padding-top: 5px;
    z-index: 2;
  }
  .title-wrapper {
    margin-top: 40%;
  }
  fieldset {
    padding: 0px;
    margin-left: 8%;
  }
}
