html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background: url("../img/1024.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}
header h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 55.7635px;
  letter-spacing: 0.23em;
  color: #ffffff;
}
.logo {
  width: 50%;
}
main p {
  font-family: Montserrat;
  font-size: 1.2em;
  color: white;
}
.wrapper {
  display: inline-block;
  position: relative;
}
input[type="button" ],
input[type="submit" ],
input[type="reset" ],
input[type="file" ]::-webkit-file-upload-button,
button {
  border-color: none;
  border-width: 0;
  padding: 0;
}
.input-wrapper {
  padding-top: 110px;
}
.fa {
  position: absolute;
  top: 15px;
  right: 20px;
  color: white;
  cursor: pointer;
}
form label {
  font-family: Monda;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 1.2em;
  color: white;
}
form input {
  padding: 5px;
  margin: 10px;
  width: 75%;
}
.submit-btn {
  width: 300px;
  height: 50px;
  background: #5ee2ff;
  border-radius: 20px;
  cursor: pointer;
}
.form-background.active {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 100;
}
.js-form-hide {
  top: 130px;
  right: 40%;
  left: 40%;
  position: absolute;
  text-align: center;
}
.sign-up-btn,
.login-btn {
  font-family: Montserrat;
  width: 231px;
  height: 50px;
  background: #f09e00;
  border-radius: 20px;
  cursor: pointer;
}
.sign-up {
  height: 558px;
  background: #414045;
  border-radius: 20px;
}
article {
  padding: 5%;
  padding-top: 0;
}
article h2{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 1.6em;
  letter-spacing: 0.23em;
  color: #ffffff;
}
article p {
  margin-bottom: 10px;
}
.about {
  margin-bottom: 300px;
  height: 550px;
  padding-top: 50px;
}
.about-text,
.solution-text {
  width: 50%;
  display: inline-block;
}
.about-text {
  text-align: left;
}
.solution-text {
  text-align: right;
}
.solution {
  height: 550px;
}
.demopic {
  width: 50%;
  box-shadow: 
    0 4px 8px 0 rgba(0,0,0,0.2),
    0 6px 20px 0 rgba(0,0,0,0.19)
}
.demopic.inkeeper {
  float: right;
}
.demopic.sample {
  float: left;
}
/*** Media Queries ***/
@media only screen and (min-width: 350px) and (max-width: 480px) {
  .sign-up-btn,
  .login-btn {
    margin: 10px;
  }
  main p {
    font-size: 1em;
    height: 60px;
    padding: 22px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 60px;
  }
  header h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 3em;
    letter-spacing: 0.23em;
    color: #ffffff;
  }
  .form-background {
    position: static;
  }
  .about-text,
  .solution-text {
    width: 100%;
    text-align: center;
    height: 100%;
  }
 .demopic.sample,
 .demopic.inkeeper {
    /*! float: none; */
   width: 100%;
  }
  .js-form-hide {
    top: 50px;
    right: 0px;
    left: 0px;
    position: absolute;
  }
  .js-register-form.sign-up {
    position: fixed;
    height: 100%;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background: #414045;
    border-radius: 0px;
  }
  .sign-up {
    width: auto;
  }
  .input-wrapper {
    margin-top: 30%;
    padding: 0px;
    width: 100%;
  }
  .submit-btn {
    position: static;
    width: 230px;
    height: 50px;
    background: #5ee2ff;
    border-radius: 20px;
    cursor: pointer;
  }
  .form-button {
    width: 100%;
    height: 100px;
    padding: 50px;
  }
  .fa {
    position: fixed;
    top: 20px;
    right: 30px;
    color: white;
    cursor: pointer;
    z-index: 1;
  }
}
